apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: example-hpa-custom-metrics
spec:
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: External
    external:
      metricName: azure.vm.cpu
      targetAverageValue: 1800m
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: wavefront-proxy
